$dark: #000000;
$light:  #ffffff;
$brick: #581207;
$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cod-gray: #111;

// Theme variables
$faded-black: #2a2d35;
$faded-white: #c0c4c8;
$faded-orange: #f6a821;