// Color Configs
$primary-color:   $light;
$secondary-color: $brick;
$accent-color: $faded-orange;

// Navbar
$navbar-color: $primary-color;
$navbar-height: 50px;
$sidebar-width: 250px;

// Sidebar
$sidebar-color: $faded-black;
$sidebar-accent: $accent-color;

//theme variables
$theme-bg-color: $faded-black;